@{
    ViewData["Title"] = "User Access Logging";
}


<label>Logs der letzten </label>
<input id="numberOfDaysUserLogsInput" type="number" class="days-input" value="0" min="0" />
<label> Tage</label>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed logging-table">
            <thead>
                <tr><th>Timestamp</th><th>Username</th></tr>
            </thead>
            <tbody id="logs">
            </tbody>
        </table>
    </div>
</div>