@{
    ViewData["Title"] = "Geräte";
}
@model List<Device>

<div class="panel-body bg-primary "><h4>Sensoren</h4></div>
<table class="table table-condensed table-bordered">
    <tr><th>Id</th><th>Gerät</th><th>Gewässer</th><th>Ort</th><th>Tiefe</th><th>IP-Adresse</th></tr>
    @if (Model.Count == 0)
    {
        <tr><td colspan="5" class="text-center">Keine Geräte eingetragen.</td></tr>
    }
    else
    {
        @foreach (Device device in Model)
        {
            <tr>
                <td>@device?.Id</td><td>@device?.Name</td><td>@device?.Lake</td><td>@device?.Location</td><td>@device?.Depth</td><td>@device?.Ip</td>
                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@device.Id">
                        <a asp-action="Edit" asp-route-id="@device.Id" class="btn btn-primary btn-sm">Edit</a>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="CreateDevice">Erstelle Gerät</a>


