@{
    ViewData["Title"] = "Index";
}

@model HomeIndexViewModel

<a style="float: right;" asp-action="DeleteAllValues" class="btn btn-primary btn-sm btn-danger">Alle Werte löschen</a>
<br />

@if (Model.Items.Count == 0)
{
    <h3>Keine Geräte vorhanden.</h3>
}
else
{
    @foreach (var item in Model.Items)
    {
    <div class="device-wrapper" data-device-id="@item?.LatestDeviceEntity.Id" data-device-name="@item?.LatestDeviceEntity.Name">
        <table class="table table-condensed table-bordered">
            <tr><th>@item?.LatestDeviceEntity.Name</th><th>@item?.LatestDeviceEntity.Lake</th><th>@item?.LatestDeviceEntity.Location</th><th>@item?.LatestDeviceEntity.Depth</th></tr>
        </table>
        <label>Werte der letzten </label>
        <input type="number" class="days-input" value="3" />
        <label> Tage</label>
        <a id="index-refresh" href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
        @* Later the information about the types of sensors a device has should be stored in the device class and for each sensor a graph should be plotted,
        for now we go with that fixed solution, because there is only one pi*@
        <div class="graph-wrapper">
            <div>Sauerstoffgehalt in mg/L</div>
            <div class="graph-do graph" data-sensor-type="0"></div>
            <div>Temperatur in °C</div>
            <div class="graph-temp graph" data-sensor-type="1"></div>
        </div>
    </div>
    }
}



