@{
    ViewData["Title"] = "Index";
}

@model List<ValueDO>

<div class="panel-body bg-primary"><h4>Werte</h4></div>

<table class="table table-condensed table-bordered">
    <tr><th>Ort</th><th>Tiefe</th>O2-Gehalt (mg/l)</tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">Keine Werte vorhanden.</td></tr>
    }
    else
    {
        @foreach(ValueDO value in Model)
        {
            <tr><td>@value?.Location</td><td>@value?.Depth</td><td>@value?.Data</td></tr>
        }
    }
</table>


